{% extends "WebSims/padre.html" %}

{% load static %}

{% block titulo %} USUARIOS {% endblock %}
{% block subtitulo %} ¡Registrate! {% endblock %}

{% block contenido_que_cambia %} 

<body>
    <h2> Nuestra comunidad - Sims Mod House</h2>
    <ul>
       {% for usuario in usuarios %}
      <li> {{ usuario.nombre }} </li>
      {% endfor %}  
    </ul>    
</body>

{% endblock %} 
{% block titulo2 %} {% endblock %} 

{% block contenido_que_cambia_3 %} <p class="lead"> </p>
{% endblock %} 


{% block imagen2 %}https://images6.alphacoders.com/589/589368.jpg{% endblock %}

{% block contenido_que_cambia_2 %}

{% endblock %} 